body{
    background-color: darkolivegreen;
}

table,
td {
    border: 1px solid darkolivegreen;
}

thead,
tfoot {
    
    color: #fff;
}

#buttonSmall{
    background-color: white; /* Green */
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: 2px solid darkred;
}
#buttonSmall:hover{
    background-color: #555555; /* Green */
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: 2px solid #555555;
}

.inputText{
    border: 2px solid darkred;
    border-radius: 4px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.button:hover {
    background-color: #555555; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.center-div {
    text-align: center;
}

.right-div {
    text-align: right;
    margin-left: 75%;
}
  
.button {
    background-color: white; /* Green */
    color: black;
    padding: 15px 32px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: 2px solid darkred;
}